.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
 box-shadow: 5px 5px 5px grey;
}

.header_div{
float: none;
background-color: white;
color: black;
box-shadow: 5px 5px 5px grey;
border-radius: 20px;
padding: 10px;
}

.header_div2{
    font-size: 18px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.footer{
    bottom: 0;
   position: fixed;
   text-align: center;
   background-color: grey;
   width: 100%;
   line-height: 3;
   color: white;
}

canvas{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    border: 5px solid white;
     margin-top:  150px; ;
}